# Experimenting with Stirling Numbers of the Second Kind

https://en.wikipedia.org/wiki/Stirling_numbers_of_the_second_kind

For integers $n$ and $k$, we define $S(n,k)$ to be the number of ways to distribute $n$ distinct items among $k$ non-distinct buckets.

We note that if $n=k$, then $S(n,k)=1$. We will define $S(n,0)=S(0,k)=0$.

Here are some more values:

$$S(3,2)=3,$$

$$S(6,4)=65.$$

The values $S(n,k)$ satisfy the following recurrence relation

$$ S(n,k)=S(n-1,k-1)+kS(n-1,k) $$

The summands in this recurrence correspond to whether or not the $n$th distinct item is in its own bucket or not.

Let's program this.

In [1]:
def S(n,k):
    if n == k:
        return 1
    elif n == 0 or k == 0:
        return 0
    else:
        return S(n-1,k-1)+k*S(n-1,k)

In [2]:
table_of_values = [[S(n,k) for k in range(10)] for n in range(10)]

In [3]:
print(table_of_values)

[[1, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 1, 0, 0, 0, 0, 0, 0, 0], [0, 1, 3, 1, 0, 0, 0, 0, 0, 0], [0, 1, 7, 6, 1, 0, 0, 0, 0, 0], [0, 1, 15, 25, 10, 1, 0, 0, 0, 0], [0, 1, 31, 90, 65, 15, 1, 0, 0, 0], [0, 1, 63, 301, 350, 140, 21, 1, 0, 0], [0, 1, 127, 966, 1701, 1050, 266, 28, 1, 0], [0, 1, 255, 3025, 7770, 6951, 2646, 462, 36, 1]]

In [4]:
for row in table_of_values:
    print(row)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 1, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 3, 1, 0, 0, 0, 0, 0, 0]
[0, 1, 7, 6, 1, 0, 0, 0, 0, 0]
[0, 1, 15, 25, 10, 1, 0, 0, 0, 0]
[0, 1, 31, 90, 65, 15, 1, 0, 0, 0]
[0, 1, 63, 301, 350, 140, 21, 1, 0, 0]
[0, 1, 127, 966, 1701, 1050, 266, 28, 1, 0]
[0, 1, 255, 3025, 7770, 6951, 2646, 462, 36, 1]

-----
A manual way of printing as a nice table

In [5]:
headers = ["{:<6}".format(ii) for ii in range(len(table_of_values[0]))]
print(f"{'':>3}"+"   |   "+"".join(headers))
print("-"*len(f"{'':>3}"+"   |   "+"".join(headers)))
for row in table_of_values:
    row_as_string = ["{:<6}".format(x) for x in row]
    print(f"{table_of_values.index(row):>3}"+"   |   "+"".join(row_as_string))

      |   0     1     2     3     4     5     6     7     8     9
----------------------------------------------------------------------
  0   |   1     0     0     0     0     0     0     0     0     0
  1   |   0     1     0     0     0     0     0     0     0     0
  2   |   0     1     1     0     0     0     0     0     0     0
  3   |   0     1     3     1     0     0     0     0     0     0
  4   |   0     1     7     6     1     0     0     0     0     0
  5   |   0     1     15    25    10    1     0     0     0     0
  6   |   0     1     31    90    65    15    1     0     0     0
  7   |   0     1     63    301   350   140   21    1     0     0
  8   |   0     1     127   966   1701  1050  266   28    1     0
  9   |   0     1     255   3025  7770  6951  2646  462   36    1

----
Creating a dataframe, which will make it look nice. More options for making tables look nice are available [here](https://stackoverflow.com/questions/9535954/printing-lists-as-tabular-data)

In [12]:
import pandas as pd
df = pd.DataFrame(table_of_values)
df

   0  1    2     3     4     5     6    7   8  9
0  1  0    0     0     0     0     0    0   0  0
1  0  1    0     0     0     0     0    0   0  0
2  0  1    1     0     0     0     0    0   0  0
3  0  1    3     1     0     0     0    0   0  0
4  0  1    7     6     1     0     0    0   0  0
5  0  1   15    25    10     1     0    0   0  0
6  0  1   31    90    65    15     1    0   0  0
7  0  1   63   301   350   140    21    1   0  0
8  0  1  127   966  1701  1050   266   28   1  0
9  0  1  255  3025  7770  6951  2646  462  36  1

## Another relation

There is another recurrence relation given by
$$ S(n+1,k+1) = \sum_{j=k}^n\binom{n}{j}S(j,k) $$
We can test that this still holds.

In [6]:
def binom(n,k):
    import math
    num = math.factorial(n)
    denom = math.factorial(k)*math.factorial(n-k)
    return int(num/denom)
def LHS_of_relation(n,k):
    terms = [binom(n,j)*S(j,k) for j in range(k,n+1)]
    return sum(terms)

def test_relation(n,k):
    return S(n+1,k+1) == LHS_of_relation(n,k)

In [7]:
for n in range(10):
    for k in range(10):
        if not test_relation(n,k):
            print(n,k)